* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

#draw-area {
    border: 2px solid #333;
    height: 50vh;
    width: 50vw;
    box-sizing: border-box;
    position: relative;
}

#glcanvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}