#params {
  width: 600px;
  border: 2px solid #999;
  padding: 10px;
  background-color: #fff;
  font-size: 14pt;
}

#params legend {
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 20pt;
  margin-bottom: 10px;
}

#params fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

#params label {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  /*font-size: 20px;*/
}

#params input {
  width: 100%;
  box-sizing: border-box;
  padding: 4px 6px;
}

#params button {
  margin-top: 6px;
  width: 100%;
}


#container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}


#draw-area {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

#glcanvas {
  border: 2px solid #333;
  width: 100%;
  height: 600px;
}

#info {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #999;
  width: 500px;
  text-align: center;
  background-color: #fff;
}

#info p {
  margin: 5px;
}