#draw-area {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#glcanvas {
    border: 4px solid #333;
    width: 800px;
    height: 450px;
}

#info {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #999;
    width: 500px;
    text-align: center;
    background-color: #fff;
}

#canvas-wrap {
    position: relative;
    width: fit-content;
    display: inline-block;
}

#info p { margin: 5px; }

.freeze-control {
    position: absolute;
    left: 10px;
    bottom: 70px;         /* Прижать к низу */
    z-index: 10;
    /* Можно добавить небольшой отступ от границы, если нужно: */
    margin: 10px;
}



/* сама «кнопка» чекбокса */
.freeze-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #6d5eda;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  line-height: 36px; /* выравнивание иконки по центру */
  font-size: 20px;
}

/* иконка «play» для неактивного состояния */
.freeze-btn::before {
  content: '\25B6';  /* ▶ */
}

/* при «checked» отображаем «stop» */
#freeze:checked + .freeze-btn::before {
  content: '\25A0';  /* ■ */
}