.icon-btn .svg-icon {
    width: 28px;      /* размер по ширине */
    height: 28px;     /* размер по высоте */
    display: block;
    margin: 0 auto;
    pointer-events: none; /* чтобы клики шли на кнопку, а не на img */
}
