#all-params {
    width: 600px;
    border: 2px solid #999;
    padding: 10px;
    background-color: #fff;
    font-size: 14pt;
}

#all-params legend {
    text-align: center;
    font-size: 20pt;
    margin-bottom: 10px;
}

#all-params fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#functions label button{
    display: flex;
    align-self: center;
    height: fit-content;
}

#all-params label {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#all-params input {
    width: 100%;
    box-sizing: border-box;
    padding: 4px 6px;
}

#applyParams, #toggleDraw {
    width: 100%;
}


/* #params label {
    align-items: center;
    gap: 10px;
}
#params input[type="range"] {
    width: 140px;
    margin-right: 8px;
}
#params input[type="number"] {
    width: 70px;
    padding: 4px 6px;
} */
